<!doctype html>
<html>
<head>
	<link href="/assets/css/app.css" rel="stylesheet" type="text/css"/>
	<title>{{ username }} on Pokemon Go</title>
</head>
<body class="{{ team.key }}">
	{{{ logo }}}

	<div class="profile clearfix">
		<h1>{{ username }}</h1>

		<h2>Team: {{ team.name }}</h2>
		<h2>Badges: {{ badges.length }}</h2>

		<span class="joined right">Joined {{ joined }}</span>
	</div>
</body>
</html>